footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='logo Image')
  ul.footer__nav 
    li: a(href='/about') About Us
    li: a(href='/contact') Contact Us
    li: a(href='/privacy') Privacy Policy
    li: a(href='#') Become a guide
    li: a(href='#') Careers 
  p.footer__copyright &copy; by Piyush Nashikkar