extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot your password?
      p.ma-bt-md Enter your email address and we'll send you a link to reset your password.
      form.form.form--forgot-password
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Send Reset Link
      .form__group.ma-bt-md
        a.link(href='/login') &larr; Back to login
